body {
	-webkit-animation: appear .5s;
	border: 2px solid #080;
	color: white;
	font-family: Myriad Pro, Helvetica, sans-serif;
	min-height: 51px;
	padding: 6px;
	position: absolute;
	right: 0;
	width: 250px;
}

#background {
	background-color: green;
}

#icon {
	float: left;
	height: 50px;
	margin-right: 5px;
	width: 50px;
}

#icon img {
	height: 50px;
	width: 50px;
}

#title {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 -1px #050;
}

#text {
	font-size: 12px;
}

#emergency #title {
	color: red;
}

@-webkit-keyframes appear {
	0%   { right: -100%; }
	100% { right: 0; }
}