body {
	border: 2px solid darkorange;
	color: white;
	font-family: Myriad Pro, Helvetica, sans-serif;
	max-width: 280px;
	min-height: 51px;
	padding: 6px;
	position: relative;
	right: 0;
	width: 280px;
}

#background {
	background-color: orange;
}

#icon {
	float: left;
	height: 100%;
	margin-right: 5px;
	width: 32px;
}

#icon img {
	height: 32px;
	width: 32px;
}

#title {
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 -1px darkorange;
}

#text {
	font-size: 12px;
  -webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
}

#emergency #title {
	color: green;
}